<html>
  <head>
    <title>Catalogues | Create</title>
  </head>
  <body>
    <form method="POST" action="/catalogues">
      <label for="product_name">Product Name</label>
      <br></br>
      <input type="text" name="product_name" id="product_name" />
      <br></br>

      <label for="description">Description</label>
      <br></br>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>
      <br></br>

      <button type="submite">Submit</button>
    </form>
  </body>
</html>;
